<!DOCTYPE html>
<html>
	<!-- head -->
	<%- include('header') -%>

<body>
    <%- include('navbar') -%>
    <section id="about_villim">
	<div class="container index_container">
		<div class="about_container">
			<div class="title_txt" style="padding-bottom:40px">빌:림이란</div>

			<div class="about_item">
				<div class="title_txt">모티브</div>
				<div class="main_txt">
					1인가구의 인구는 급격히 늘고 유동이 잦아지는 반면에 부동산 임대시장은 변화가 없습니다. 어린아이가 새로 태어나고 있으나 어른 옷을 입고 살아야 하는 것과 같습니다.
				</div>
			</div>
			<div class="about_item">
				<div class="title_txt">문제점</div>
				<div class="main_txt">
					유동이 잦으며, 단기간 거주 공간이 필요한 장기 출장객 및 여행객, 학생, 단기로 임대를 필요로 하는 이용객들에겐 1 년 또는 3 개월 이상 임대가 조건인 임대주택들은 적합하지 않습니다. 이들에게 더욱더 <b>자유롭고 필요한만큼 필요한 곳에서 거주공간</b>을 빌릴 수 있는 단기주택임대 시스템이 필요합니다.
				</div>
			</div>
			<div class="about_item">
				<div class="title_txt">빌:림의 해결책</div>
				<div class="main_txt">
					빌림은 소프트웨어와 IoT 기술을 사용하여 임대인 과 임차인의 어려움을 함께 해결해드립니다. 임대인에게는 편리한 임대관리 서비스를 제공하며 임차인들에게는 필요한만큼 최소 한 달 이상, 추가는 일 단위로 유연하게 방을 빌릴 수 있는 서비스를 제공합니다.
				</div>
			</div>
			<div class="about_item">
				<div class="title_txt">회사 소개</div>
				<div class="main_txt">
					<b>임대인은 쉽게 임대관리를 하며, 임차인은 호텔을 예약하는 것처럼 간편하게 임대할 수 있도록</b> IT 전문가, 시행 전문가, 건축가가 모여 사업을 더 튼튼하게 구축해 나가고 있습니다.
				</div>
				<div class="main_txt">
					"<b>전국의 집은 나의 집</b>," 바로, 전국 어디에서 거주를 하던, 자신의 집처럼 느낄 수 있는 공간을 제공하는 것입니다.
				</div>
			</div>
		</div>
	</div>
	</div>
	<%- include('footer') -%>
</body>
</html>