  <!-- Footer -->
    <footer id='index_footer' class="center-align">
      <!-- <div class='row valign-wrapper center-align'> -->
        <p>경기도 성남시 분당구 성남대로 331번길 3-9, 백궁프라자 3차 405호</p>
        <p>대표 : 부창용 I 사업자등록번호 : 220-88-89117</p>
        <p>&copy; 2017 Bluetail Co., Ltd. All Rights Reserved.</p>
    </footer>
    
    <!-- Footer -->
<!--     <footer id='index_footer2'>
      <div class='row valign-wrapper '>
        <div class='col s6'>
          <ul>
            <li>VILLIM</li>
            <li><a href='#'>Product</a></li>
            <li><a href='#'>Help Center</a></li>
            <li><a href='#'>Contact Us</a></li>
          </ul>
        </div>
        <div class='col s3'>
          <ul>
            <li>LEGAL</li>
            <li><a href='#'>Privacy</a></li>
            <li><a href='#'>Security</a></li>
            <li><a href='#'>Terms of Service</a></li>
          </ul>
        </div>
        <div class='col s3'>
          <ul>
            <li>FOLLOW US</li>
            <li><a href='#'>Facebook</a></li>
            <li><a href='#'>Pinterest</a></li>
            <li><a href='#'>Instagram</a></li>
          </ul>
        </div>
      </div>
    </footer> -->
    <!-- /Footer -->