  <!-- Footer -->
    <footer id='index_footer' class="">
      <div class="container index_container">
        <div class="footer_container">
          <div id="footer_logo">
            <img src="/images/logos/villim_logo2_white.png" width="auto" height="36px">
          </div>

          <div class ="col_container">
            <div class="footer_col company_description">
              <p>블루테일 주식회사 </p>
              <p>주소: 경기도 성남시 분당구 성남대로 </p>   
              <p> 331번길 3-9, 백궁프라자 3차 405호</p>
              <p>사업자등록번호: 220-88-89117</p>
              <p>법인 등록번호: 110111-5531234</p>
            </div>

            <div class="footer_col">
              <div class="col_title">COMPANY</div>
              <div class="col_content">
                <ul>
                  <li><a href='#'>회사 소개</a></li>
                  <li><a href='#'>이용약관</a></li>
                  <li><a href='#'>개인정보 보호정책</a></li>
                </ul>
              </div>
            </div>

            <div class="footer_col">
              <div class="col_title">EXPLORE VILLIM</div>
              <div class="col_content">
                <ul>
                  <li><a href='#'>방 찾기</a></li>
                  <li><a href='#'>자주하는 질문</a></li>
                  <li><a href='#'>빌림 중계사 제휴</a></li>
                </ul>
              </div>
            </div>

            <div class="footer_col">
              <div class="col_title">CONNECT WITH US</div>
              <div class="col_content">
                <ul>
                  <li><a href='#'>네이버 블로그</a></li>
                  <li><a href='#'>Facebook</a></li>
                  <li><a href='#'>Instagram</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

          <!-- <div class="row"> -->
<!--             <div class="col s12 m3 l3">
              <div class="company_description">
                <p>블루테일 주식회사 </p>
                <p>주소: 경기도 성남시 분당구 성남대로 331번길 3-9,</p>   
                <p>백궁프라자 3차 405호</p>
                <p>사업자등록번호: 220-88-89117</p>
                <p>법인 등록번호: 110111-5531234</p>
              </div>
            </div>
 -->
      <!--       <div class="col s12 m3 l3 ">
              <div class="links">
                <ul>
                  <li><a href='#'>회사 소개</a></li>
                  <li><a href='#'>개인정보 보호정책</a></li>
                  <li><a href='#'>이용약관</a></li>
                </ul>
              </div>
            </div>
            <div class="col s12 m3 l3">
              <div class="links">
                <ul>
                  <li><a href='#'>관리문의</a></li>
                  <li><a href='#'>자주하는 질문</a></li>
                </ul>
              </div>
            </div>
        
            <div class='col s8 m4 l4 offset-m2 offset-l2'>
              <div class="buttons">
                <ul>
                  <li>
                    <a class='dropdown-button btn' href='#' data-activates='footer_dropdown1'><i class="material-icons right">arrow_drop_down</i>한국어</a>
                  </li>
                  <li>
                    <a class='dropdown-button btn' href='#' data-activates='footer_dropdown2'><i class="material-icons right">arrow_drop_down</i>KRW</a>
                  </li>
                </ul>
              </div>
            </div>
          </div> --><!-- 
        </div> -->
<!-- 
        <ul id='footer_dropdown1' class='dropdown-content'>
          <li><a href="#!">한국어</a></li>
          <li><a href="#!">English</a></li>
        </ul>

        <ul id='footer_dropdown2' class='dropdown-content'>
          <li><a href="#!">KRW</a></li>
          <li><a href="#!">USD</a></li>
        </ul>
 -->

        <hr style="border-color: rgb(143, 143, 143)">
        <div class="copyright">
          <div class="row">
            <div class="col s12 m4 l4">
              <p>&copy; 2017 Bluetail Co., Ltd. All Rights Reserved.</p>
            </div>  

            <div class="col s12 m4 l4 offset-m4 offset-l4">
              <ul class="social_media_icons">
                <li><a href='#'><img src="/images/icons/facebook_icon.svg"></a></li>
                <li><a href='#'><img src="/images/icons/twitter_icon.svg"></a></li>
                <li><a href='#'><img src="/images/icons/instagram_icon.svg"></a></li>
              </ul>
            </div>  
          </div>
        </div>
      </div>
    </footer>
    
    <!-- Footer -->
<!--     <footer id='index_footer2'>
      <div class='row valign-wrapper '>
        <div class='col s6'>
          <ul>
            <li>VILLIM</li>
            <li><a href='#'>Product</a></li>
            <li><a href='#'>Help Center</a></li>
            <li><a href='#'>Contact Us</a></li>
          </ul>
        </div>
        <div class='col s3'>
          <ul>
            <li>LEGAL</li>
            <li><a href='#'>Privacy</a></li>
            <li><a href='#'>Security</a></li>
            <li><a href='#'>Terms of Service</a></li>
          </ul>
        </div>
        <div class='col s3'>
          <ul>
            <li>FOLLOW US</li>
            <li><a href='#'>Facebook</a></li>
            <li><a href='#'>Pinterest</a></li>
            <li><a href='#'>Instagram</a></li>
          </ul>
        </div>
      </div>
    </footer> -->
    <!-- /Footer -->