  <head>
    <title>Villim</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<!-- CSS -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
  	<link rel="stylesheet" href="/css/materialize.min.css">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- JS -->
    <script src="/jquery/jquery.min.js"></script>
  	<script src="/js/materialize.min.js"></script>
  </head>


