<!DOCTYPE html>
<html>
  <!-- head -->
  <%- include('header') -%>
  <style>

  </style>



  <body>
    <!-- navbar -->
    <%- include('navbar') -%>

    <!-- intro section -->
    <section id="intro">
    	<div class="row">
    		<div style="text-align:center">
    		<!-- <div class="col s10 offset-s1"> -->
				<div class="card" style="margin: 0 auto">
					<div class="card-content" style="padding: 50px 30px 30px">
						<span class="card-text text_thick"> 보증금 없이, 수수료 없이 </span>
						<p class="card-text">필요한 만큼 빌리는 프리미엄 풀옵션 단기임대 </p>
						<div style="margin: 30px 0">
							<a href="#" style="padding-right:0 10px">
								<img src="/images/index/google_play_img.png" width="170" height="50">
							</a>
							<a href="#" style="padding:0 10px">
								<img src="/images/index/app_store_img.png" width="170" height="50">
							</a>
						</div>

					    <div class="row" style="padding-bottom: 30px;margin:0">
				        	<div class="col m4 l4 hide-on-small-only">
				        	<!-- <div class="col m4 l4">				        		 -->
				        		<div class="check_item">
        			            	<img class="responsive-img" src="/images/index/check_icon.png">
        			            	<p style="display:inline"><b>집에서 경험할 수 있는 편안함</b>을 안겨주는 인테리어 디자인 </p>
				        		</div>
        		            </div>
				        	<!-- <div class="col m4 l4">				        		 -->

				        	<div class="col m4 l4 hide-on-small-only">
				        		<div class="check_item">
        			            	<img class="responsive-img" src="/images/index/check_icon.png">
        			            	<p style="display:inline">온라인으로 원하는 방을 선택하고, 결제하고, <b>앱으로 방 문을 열어보세요 </b></p>
				        		</div>
        		            </div>
				        	<div class="col m4 l4 hide-on-small-only">
				        	<!-- <div class="col m4 l4">				        		 -->

				        		<div class="check_item">
        			            	<img class="responsive-img" src="/images/index/check_icon.png">
        			            	<p style="display:inline">최소 한 달 이상, 추가는 <b>일, 주, 월 단위</b>로 유연하게 방을 빌려보세요 </p>
				        		</div>
        		            </div>
					    </div>
					</div>
    			</div>
    		</div>
     	 </div>
    </section>    

    <!-- why_villim section -->
  	<section id="why_villim">
  		<div class="container index_container">
	  		<div class="index_title_txt" style="padding-bottom:50px">
				<span> 사람들이 빌:림을 찾는 이유 </span>
	  		</div>
		    <div class="row">
		      <div class="col s12 m4 l4">
		        <div class="why_villim_item">
		          <img class="responsive-img" src="/images/index/bed_icon.png">
		          <div>
		              <p class="title_txt">편안함</p>
		              <p class="content_txt">기존 오피스텔 단기임대보다 더 편안함을 안겨주는 빌림만의 인테리어 디자인</p>
		          </div>
		       	</div>
		      </div>
		      <div class="col s12 m4 l4">
		        <div class="why_villim_item">
		          <img class="responsive-img" src="/images/index/smart_home_icon.png">
		          <div>
		              <p class="title_txt">스마트한 출입</p>
		              <p class="content_txt">앱으로 방을 열고 앱으로 스마트락 비밀번호 변경이 가능합니다 </p>
		          </div>
		       	</div>
		      </div>
		     <div class="col s12 m4 l4">
		        <div class="why_villim_item">
		          <img class="responsive-img" src="/images/index/wallet_icon.png">
		          <div>
		              <p class="title_txt">무보증 풀옵션단기임대 </p>
		              <p class="content_txt">임대료보다 높은 보증금 그리고 부동산 수수료 없이 쉽게 방을 빌려보세요 </p>
		          </div>
		       	</div>
		      </div>
		    </div>
		    <div class="row">
		      <div class="col s12 m4 l4">
		        <div class="why_villim_item">
		          <img class="responsive-img" src="/images/index/wireless_icon.png">
		          <div>
		              <p class="title_txt">무선 인터넷 </p>
		              <p class="content_txt">언제 어디서나 세계 각 지역과 소통을 해야하는 분들을 위한 무선 인터넷 제공 </p>
		          </div>
		       	</div>
		      </div>
		      <div class="col s12 m4 l4">
		        <div class="why_villim_item">
		          <img class="responsive-img" src="/images/index/calendar_icon2.png">
		          <div>
		              <p class="title_txt">유연한 입주기간 </p>
		              <p class="content_txt">일일, 일주일, 한 달 단위로 언제 어디서나 유연하게 방을 빌릴 수 있습니다 </p>
		          </div>
		       	</div>
		      </div>
		     <div class="col s12 m4 l4">
		        <div class="why_villim_item">
		          <img class="responsive-img" src="/images/index/location_icon2.png">
		          <div>
		              <p class="title_txt">최적의 위치 </p>
		              <p class="content_txt">가장 필요한 곳, 역세권 지역에서 무보증원룸을 빌려보세요 </p>
		          </div>
		       	</div>
		      </div>
		    </div>
	    </div>
	    <div>
	    	<img style="width:100%; height: auto; margin-bottom:30px" src="/images/index/shelf_img.jpg">
	    </div>
	</section>    

	<!-- how_villim section -->
    <section id="how_villim">
		<div class="container index_container" style="position:relative">
			<!-- text -->
			<div class="txt_container">
				<div class="index_title_txt" style="padding-bottom:20px">
					<span> 사용방법 </span>
				</div>
				<div class="row">
					<p class="title_number"> 1. </p>
					<div style="width:65px; border:1px solid rgba(64, 159, 197, 1);"></div>
					<p class="title_txt text_thick">앱으로 쉽고 빠른 예약</p>
					<p class="content_txt">언제 어디서나 필요할 때 필요한 만큼 원하는 단기월 방을 구해보세요. </p>
				</div>
				<div class="row">
					<p class="title_number"> 2. </p>
					<div style="width:65px; border:1px solid rgba(64, 159, 197, 1);"></div>
					<p class="title_txt text_thick">간편한 스마트키 </p>
					<p class="content_txt">온라인으로 원하는 방을 선택하고, 결제를 하고, 앱으로 방 문을 열어보세요. </p>
				</div>
				<div class="row">
					<p class="title_number"> 3. </p>
					<div style="width:65px; border:1px solid rgba(64, 159, 197, 1);"></div>
					<p class="title_txt text_thick">도어락 비밀번호 변경 </p>
					<p class="content_txt">자신이 원하는 비밀번호를 언제나 어디서나 모바일로 편리하게 설정해보세요. </p>
				</div>
			</div>
			<!-- download buttons -->
			<div style="padding: 40px 0 80px">
				<a href="#" style="padding:0 5px">
					<img src="/images/index/google_play_img.png" width="170" height="50">
				</a>
				<a href="#" style="padding:0 5px">
					<img src="/images/index/app_store_img.png" width="170" height="50">
				</a>
			</div>
			<!-- images -->
	    	<img class="image" style="width:380px; height:477px; position:absolute;top:-100px;right:-50px;" src="/images/index/doorlock_img.png">
	    	<img class="image" style="width:350px; height:500px; position:absolute;bottom:0;right:120px;" src="/images/index/phone_img.png">
      	</div>
    </section>    

	<!-- footer -->
    <%- include('footer') -%>
  
  </body>
</html>
