<!DOCTYPE html>
<html>
  <%- include('header') -%>


  <style>
	.container.index_container.confirm_container {
		margin-top: 70px;
		margin-bottom: 300px;
	}

	.reservation_confirm_txt {
		font-size: 18px;
		font-weight: 600;
		color: #2F6D81;
		/*color: #3c763d;*/
	}

	.reservation_confirm_link {
		padding: 30px 0;
	}

  </style>

  <body>
    <!-- navbar -->
    <%- include('navbar') -%>

	<div class="container index_container confirm_container">
		<div class="reservation_confirm_txt">
			<div>예약 요청이 성공적으로 완료되었습니다.</div>
			<div>빌림에서 48시간 내에 고객님의 핸드폰으로 연락이 갈 예정입니다.</div>
		</div>

		<div class="reservation_confirm_link">
			<a href="/" class="waves-effect waves-light btn" style="background-color: #2F6D81">방 더보기</a>
		</div>
	</div>

    <!-- footer  -->
    <%- include('footer') -%>
  </body>
</html>