<!DOCTYPE html>
<html>
  <!-- head -->
  <%- include('header') -%>

  <body>
      <%- include('navbar') -%>

    <div class="container auth_container">
        <div class="title_txt"> 
        <% if (typeof admin !== 'undefined') { %> 관리자 <% } %> 회원가입
        </div>

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
            <div><p class="err_msg"><%= message %></p></div>
        <% } %>

        <!-- signup form -->
        <% if (typeof admin === 'undefined') { %>
          <form action="/signup" method="post">
        <% } else { %>        
          <form action="/admin/signup" method="post">          
        <% } %>
            <div class="input_container">
              <% if (typeof admin === 'undefined') { %>
                <div class="name_field">
                  <div class="input-field"> 
                    <i class="material-icons prefix">account_circle</i>
                    <input id="lastname" name="lastname" type="text" class="validate">
                    <label for="lastname">성</label>
                  </div>
                  <div class="input-field"> 
                    <i class="material-icons prefix">account_circle</i>
                    <input id="firstname" name="firstname" type="text" class="validate">
                    <label for="firstname">이름</label>
                  </div>
                </div>
              <% } else { %>
                <div class="input-field"> 
                    <i class="material-icons prefix">account_circle</i>
                    <input id="name" name="name" type="text" class="validate">
                    <label for="name">이름</label>
                </div>
              <% } %>
                <div class="input-field"> 
                    <i class="material-icons prefix">email</i>
                    <input id="email" name="email" type="email" class="validate">
                    <label for="email" data-error="이메일 주소가 올바르지 않습니다">이메일</label>
                </div>
                <div class="input-field">
                    <i class="material-icons prefix">lock</i>
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">비밀번호</label>
                </div>
            </div>
            <div class="btn_container signup">
                <button type="submit" class="btn waves-effect waves-light red_btn_color">회원가입 </button>
            </div>
        </form>
        <div class="redirect"> 
            <div><a href="/">홈으로 돌아가기</a></div>
            <div>이미 회원이신가요? <a href="/login">로그인</a>하기</div>
        </div>
    </div>

    <!-- footer -->
    <%- include('footer') -%>
  </body>
</html>