html, body {
	font-family: 'Roboto', 'Helvetica', sans-serif;
}

body {
	background-color: white;
}

a {
  color: #00B7FF;
}

hr .hr_light_shadow {

}

/* FONTS */
@font-face {
	font-family: "nanum_myeongjo";
	src: url('/fonts/NanumMyeongjo-Regular.ttf');
}



/* Overwrite materialize media query for nav size */
nav .brand-logo.left{
	left:0.5rem !important;
	height: 64px !important;
}

nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
	height: 64px !important;
	line-height: 64px !important;
}

.nav_light_shadow {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10);
}

.text_thick {
	font-weight: 900 !important;
}

.no_vertical_margin {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.nav_bg_color {
	background-color: white;
}

.nav_logo{
	height: 64px;
	width: auto;
	/*padding: 15px;*/
}

/*.nav_dropdown {
	height: 64px;
	width: auto;
}*/

.nav_text > li > a {
	color: black;
}

.nav_text > li > a:hover, .nav_text > li > a.active {
	color: #D52B1E;
	background-color: transparent;
}

nav ul.dropdown-content {
	min-width: 110px;
}

nav ul.dropdown-content > li > a {
	color: #2F6D81;
	font-size: 14px;
}

nav ul.dropdown-content > li > a:hover, nav ul.dropdown-content > li > a.active {
	color: #D52B1E;
	background-color: transparent;
}


/*.nav_btn {
	border: black 1px solid !important;
	padding: 0 20px !important;
}

@media only screen and (max-width: 550px) {
	.nav_btn {
		visibility: hidden; 
	}		
}*/




/* dynamic index page */
@media screen and (max-width: 600px) {

	body nav li.nav_txt, body nav li#profile_drop {
		display: none;
	}

	body nav li#drop {
		display: block !important;
	}

	body section#be_host_summary {
		height: 880px;
	}


	body section#be_host_summary .card {
		width: 320px;
		float: none;
		margin: 0 auto;
		top: 70px;
	}
}

@media screen and (max-width: 870px) {
/*	body section#intro .card-text {
		font-size: 24px;
	}

	body section#intro .card {
		margin: 0 20px !important;
		top: 100px;
	}*/

	body section#why_villim {
		/*height: 1000px;*/
		padding-top:100px;
		/*padding: 100px 0;*/
	}

	body section#how_villim .image {
		display:none;
	}

	body section#download .image {
		display: none;
	}

  	section#house_summary, section#house_description, section#house_policy, section#house_amenities, section#house_refund_policy {
  		width: 100%;
  	}

/*  	body section.detail_section {
  		font-size: 12px;
  	}
*/
	/*section#house_summary .capacity .capacity_item {*/
		/*width: 54px;*/
	/*}*/

	/*section#house_summary .house_summary_content img {*/
		/*height: 14px;*/
	/*}	*/

}

@media screen and (min-width:870px) {
	/*  fixed width card when over 850. 다른 content width 한 60프로   */
/*	body section#intro .card {
		width: 850px;
	}
*/
	body .container.index_container {
		width: 840px;
	}

	body .container.nav_container {
		width: 90%;
	}

  	section#house_summary, section#house_description, section#house_policy, section#house_amenities, section#house_refund_policy {
  		width: 62%;
  	}

}

@media screen and (min-width:1030px) {
	/*  fixed width card when over 850. 다른 content width 한 60프로   */
/*	body section#intro .card {
		width: 1000px;
	}*/

	body .container.index_container {
		width: 960px;
		/*width: 80%;*/
	}

	body .container.nav_container {
		width: 90%;
	}

  	section#house_summary, section#house_description, section#house_policy, section#house_amenities, section#house_refund_policy {
  		width: 66%;
  	}

}

/* index page */


.container.index_container .row {
	margin: 0;
}

/* intro section */
section#intro {
	width: 100%;
	height: 500px; 
	background-image: url("/images/index/main_img.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

/*section#intro .card {
	text-align: center;
	top: 300px;
}

section#intro .card-text {
	font-size: 34px;
}

section#intro .check_item {
	text-align:left;
	padding: 10px 0;
}

section#intro .check_item img {
	width: 20px;
	height: 15px;
}*/


/* why_villim section */

section#why_villim {
	/*height: 1000px;*/
	padding-top: 350px;
}	

section#why_villim img {
	width: auto;
	height: 35px;
}

section#why_villim .title_txt {
	color:#D52B1E;
	font-size: 18px;
	margin:0;
	padding: 10px 0;
}

section#why_villim .content_txt {
	font-size: 14px;
	margin:0;
	padding-bottom:20px;
}

section#why_villim .why_villim_item {
	padding: 10px 0;
}


/* how_villim section */

section#how_villim {
	/*height: 1000px;*/
	padding-top: 100px;
	background-color: rgba(247, 244, 248, 1);
}	

section#how_villim .row {
	margin: 30px 0 !important;
}

section#how_villim .title_number {
	font-size: 18px;
	margin-bottom: 5px;
}

section#how_villim .title_txt {
	font-size: 16px;
	margin: 10px 0 5px;
}

section#how_villim .content_txt {
	font-size: 14px;
	margin: 0;
}

section#how_villim .txt_container {
	width: 250px;
}
 

/* download page */

/* download section */
section#download {
	padding: 200px 0 260px;
}

 section#download .title_txt {
  	font-size: 34px;
  }

section#download .content_txt {
  	font-size: 28px;
  }	  

section#download p {
	margin: 10px 0;
}


/* be_host page */
.be_host_title_txt {
	font-size: 32px;
}

.be_host_content_txt {
	font-size: 18px;
}



/* OLDDDDDDD BELOWWWWWWWWW */
/*.nav_btn:hover {
	border: #ff5252 1px solid !important;
}
*/
section#search {
	margin: 70px 0;
}

section#be_host {
	width: 100%;
	height: 550px;
	background-image: url("/images/index_room.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

section#be_host .card {
	float: right;
	top: 200px;
	width: 400px;
	margin-right: 30px;
}

section#be_host .card-text {
	font-size: 16px;
	padding-right: 50px;
	margin-bottom: 30px;
}

/* Card css */

/*.card_btn {
	width: 100%;
}
*/

section#benefit {
	height: 600px;
}

section#benefit .container {
	/*text-align: center;*/
	width: 80%;
	/*margin: 40px;*/
}

section#benefit img {
	width: auto;
	height: 60px;
}

section#benefit .benefit_item {
	margin: 0 20px;
}

footer#index_footer {
	background-color: rgba(42, 39, 48, 1);
	color: white;
	/*color: rgba(255, 255, 255, 0.3);*/
	display: block;
	/*padding: 25px 0;*/
	/*font-size: 12px;*/
}

footer#index_footer .footer_container {
	padding: 90px 5px 50px;
}

footer#index_footer .company_description, footer#index_footer .links {
	/*padding: 16px 12px;*/
}

footer#index_footer hr {
	margin: 15px 12px;
}

footer#index_footer p {
	margin: 5px 0;
	font-size: 14px;
}

footer#index_footer .copyright {
	color: rgb(143, 143, 143);
	font-size: 12px;
	padding-bottom: 100px;
}

footer#index_footer .links ul > li {
	padding: 5px 0;
}

footer#index_footer .links ul > li > a {
	color: white;
}

footer#index_footer .row {
	margin: 0;
}

footer#index_footer ul.social_media_icons {
	margin: 0;
	text-align: right;
}


footer#index_footer .social_media_icons li {
	display: inline;
	padding-left: 10px;
}

footer#index_footer .social_media_icons img {
	width: 22px;
	height: 22px;
}

footer#index_footer .buttons {
	text-align:center;
	padding: 0 20px;
}

footer#index_footer .buttons .dropdown-button.btn {
	margin: 5px 0;
	width: 100%;
	background-color: white;
	color: black;
	padding: 0;
}

footer#index_footer .btn i {
	font-size: 2rem;
}

footer#index_footer .dropdown-content li > a {
	color: rgba(64, 159, 197, 1);
}

/*
footer#index_footer2 {
	background-color: black;
	padding: 25px 100px 25px 180px;
	color: white;
}

footer#index_footer2 a {
	color: gray;
}

footer#index_footer2 ul, li {
	padding: 3px 0;
}

*/
/* dashboard css */

.dashboard_row {
	border-top: 2px solid #e0e0e0;
	border-bottom: 2px solid #e0e0e0;
}

/*.dashboard_content {
	width: 100%;
	height: 500px; 
	padding: 30px 110px;
}

.dashboard_main_text {
	font-size: 28px;
}

.dashboard_sub_text {
	font-size: 24px; 
	margin-bottom: 20px;
}

#home .board_frame {
	width: 100%;
	height: 350px;
	border: 4px solid #bdbdbd;
	padding: 20px;
}

#room_list .room_frame {
	width: 100%;
	height: 120px;
	border: 2px solid #bdbdbd;

}*/

/* register css */

.register_content {
	padding-top: 50px;
	padding-bottom: 80px;
}

.register_main_text {
	font-size: 24px;
}

.register_sub_text {
	font-size: 20px;
}

.register_form_content {
	padding-left: 40px !important;
	padding-right: 80px !important;
}

.register_form_label {
	font-size: 16px;
	font-weight: 900;
	padding-left: 10px;
	padding-bottom: 10px;
}

#register_form .input-field {
	margin-top: 0;
	margin-bottom: 35px;
}

.register_file_wrapper {
	border: 1px solid black;
	width: 100%;
	height:250px;
	display: inline-flex;
	margin-left: 10px;
	/*text-align: center;*/
	/*padding: 60px;*/
	/*margin: 0 10px 15px;*/
}

.register_error {
	color: #FF0000;
}

.register_valid {
	color: #26a69a;
}


/* search_bar */
.search_bar {
  padding: 30px 0;
}

.search_bar input {
  height: 40px;
  padding-left: 5px;
  margin: 10px 0;
}

.search_bar input[type=text]:focus:not([readonly]), .search_bar input[type=text][readonly="readonly"] {
  color: black;    
  border: 1px solid rgb(80, 87, 95);
  border-radius: 1px;
  box-shadow: none;
}

.search_bar input[type=text] {
  color: black;
  border: 1px solid rgb(80, 87, 95);
  border-radius: 1px;
}

.search_bar .input-field {
  margin: 0;
}

.search_bar button {
  height: 42px;
  margin: 10px 0;
  width: 80%;
  padding: 0 10px;
}

 /* Placeholder css */
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: black;
    opacity: 0.5;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: black;
    opacity: 0.5;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: black;
    opacity: 0.5;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    opacity: 0.5;
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
    opacity: 0.5;
  }

  .search_bar input#checkin_date_picker, .search_bar input#checkout_date_picker {
    background-image: url('/images/icons/icon_calendar_black.png');
    background-position: 95%;
    background-size:18px 16px;
    background-repeat: no-repeat;

    /*padding-right: 10px;*/
  }








/* Overwrite materialize tabs css */
.tabs .indicator {
	background-color: black  !important;
	height: 3px !important;
}

.tabs .tab > a {
	color: black !important;
	overflow: visible !important;
	font-size: 16px !important;
}

/* Form css */
.form_container {
	margin-top: 100px !important;
	margin-bottom: 100px !important;
	width: 50% !important;
}

.row_form {
	margin: 40px;
}

.form_select_label {
	/*padding-bottom: 10px;*/
}

form input {
	margin-bottom: 0 !important;
}
/*
.caret {
	margin:0 !important;
	top: 20px !important;
}
*/

/* overwrite materialize form css */
.select-wrapper input.select-dropdown {
	color: #9e9e9e !important;
}

/*.input-field input[type=text] {
	color: #9e9e9e !important;
}
*/



/* Error msgs */
select .error {
	border: red solid 1px;
}

.form-error {
	color: red;
}

select .valid {
	border: green solid 1px;
}


/*div .err_msg {
	color: #ff5252;
}
*/


