html, body {
	font-family: 'Roboto', 'Helvetica', sans-serif;
}

body {
	background-color: white;
}

a {
  color: #00B7FF;
}

hr .hr_light_shadow {

}

/* FONTS */
@font-face {
	font-family: "nanum_myeongjo";
	src: url('/fonts/NanumMyeongjo-Regular.ttf');
}

/*@font-face {
	font-family: "Roboto";
	src: url('/font/roboto/Roboto-Bold.woff');
}*/
/*
    url('/font/roboto/Roboto-Bold.woff2') format('woff'),
    url('/font/roboto/Roboto-Light.woff') format('woff'),
    url('/font/roboto/Roboto-Light.woff2') format('woff'),
    url('/font/roboto/Roboto-Regular.woff') format('woff'),
    url('/font/roboto/Roboto-Regular.woff2') format('woff'),
    url('/font/roboto/Roboto-Thin.woff') format('woff'),
    url('/font/roboto/Roboto-Thin.woff2') format('woff'),
    url('/font/roboto/Roboto-Medium.woff') format('woff'),
    url('/font/roboto/Roboto-Medium.woff2') format('woff');*/


.nav_light_shadow {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.10);
}

.text_thick {
	font-weight: 900 !important;
}

.no_vertical_margin {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}

.nav_bg_color {
	background-color: white;
}

.nav_logo{
	height: 58px;
	padding: 16px 0;
}

.nav_text > li > a {
	color: black;
}

.nav_text > li > a:hover, .nav_text > li > a.active {
	color: #D52B1E;
	background-color: transparent;
}

nav ul.dropdown-content {
	min-width: 110px;
}

nav ul.dropdown-content > li > a {
	color: #2F6D81;
	font-size: 14px;
	height: auto;
	padding: 18px 16px;
}

nav ul.dropdown-content > li > a:hover, nav ul.dropdown-content > li > a.active {
	color: #D52B1E;
	background-color: transparent;
}

nav.admin_nav li.nav_txt {
	display: block !important;
}


/* breadcrumbs */
nav.breadcrumbs {
	background-color: white;
	box-shadow: none;
}

nav.breadcrumbs a {
	font-size: 13px;
}

.breadcrumb, .breadcrumb:before {
	color: black !important;
}


/* site components */
.container.index_container .row {
	margin: 0;
}

.title_txt {
	font-size: 26px;
	/*font-family: nanumgothic-regular;*/
}

.main_txt {
	font-size: 14px;
	font-family: nanumgothic-regular, sans-serif;
}

.sub_txt {
	/*font-size: 14px;*/
}

p {
	margin: 5px 0;
}

.teal_txt_color {
	color: #2F6D81;
}

.gold_txt_color {
	color: #FFCF71;
}

.red_txt_color {
	color: #D52B1E;
}

.btn.teal_btn_color {
	background-color: #2F6D81;
}

.btn.gold_btn_color {
	background-color: #FFCF71;
}

.btn.gold_btn_color:hover {
	background-color: orange;
}

.btn.red_btn_color {
	background-color: #D52B1E;
}

.btn.red_btn_color:hover {
	background-color: red;
}





/******* index3, be-host start *******/
section#intro {
	width: 100%;
	/*height: 650px; */
	height: 440px;
	background-image: url("/images/index_img.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/*background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));*/
	/*opacity: 0.5;*/

	color: white;

	padding: 100px 0 120px;
	/*padding: 180px 0 220px;*/
}

section#intro .title_txt {
	font-family: 굴림,gulim,apple sd gothic neo,applegothic, sans-serif;
	/*font-size: 42px;*/
	font-size: 26px;	
}

section#intro .sub_txt {
	font-family: nanumgothic-regular, sans-serif;
	/*font-size: 24px;*/
	font-size: 15px;
	padding: 8px 0;
}

section#intro .search_txt {
	/*font-size: 20px;*/
	padding: 10px 0;
	font-size: 13px;
	/*padding: 10px 0;*/
}

section#intro .input_wrapper {
	padding: 40px 0;
}


section#meet_villim {
	padding: 30px 0 5px;
	text-align: center;
	border-bottom: 1px solid rgb(205, 205, 209);
	/*background-color: #E8E8E8;*/
}

section#meet_villim .title_txt {
	font-size: 18px;
}

section#meet_villim div {
	padding: 10px 0;
}

section.villim_intro {
	display: flex;
	flex-wrap: wrap;
	padding-top: 50px;
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(205, 205, 209);
}

section.villim_intro#community {
	margin-bottom: 30px;
}

section.villim_intro .txt_container {
	display: flex;
	justify-content: center;
	text-align: center;
	width: 100%;
}

section.villim_intro .txt_center {
	display: flex;
	justify-content: center;
}

section.villim_intro .title_txt {
	font-size: 24px;
	font-weight: 600;
	color: #D52B1E;
	padding: 20px 0 10px;
}

section.villim_intro .img_container {
	width: 100%;
	display: flex;
	justify-content: center;
}

section.villim_intro img {
	align-self: flex-end; 	/* align to the bottom */
}

section.villim_intro .single_img {
	width: 170px;
	height: 280px;
	/*margin-bottom: 10px;*/
}

section.villim_intro .double_img {
	width: 260px;
	height: 280px;
	/*margin-bottom: 10px;*/
}

section.villim_intro .laptop_img {
	width: 300px;
	height: 280px;
	/*margin-bottom: 10px;*/
}

section.villim_intro.txt_left_section {
	flex-wrap: wrap-reverse;
}

section.villim_intro .txt_container {
	display: flex;
	justify-content: center;
	text-align: center;
}

body section.villim_intro#register {
	padding: 80px 0;
}

body section.villim_intro#register .laptop_img {
	width: 300px;
	height: 180px;
	margin-bottom: 10px;
}

/*section.villim_intro#register {
	padding: 120px 0;
}

section.villim_intro#global, section.villim_intro#reserve {
	padding-top: 120px;
}

section.villim_intro#register img {
	width:440px;
	height:250px;
} 
*/
/******* index3, be-host end *******/


/******* about start *******/
section#about_villim .about_container {
	padding: 60px 0;
}

section#about_villim .title_txt {
	font-size: 26px;
}

section#about_villim .about_item {
	padding: 12px 0;
}

section#about_villim .about_item .title_txt {
	font-size: 20px;
	font-weight: 600;
	color: #D52B1E;
	padding: 10px 0;
	border-bottom: 1px solid rgb(205, 205, 209);
}

section#about_villim .main_txt {
	padding: 10px 0;
}
/******* about end *******/


/******* Footer start *******/
footer#index_footer {
	background-color: rgba(42, 39, 48, 1);
	color: white;
	/*color: rgba(255, 255, 255, 0.3);*/
	font-size: 12px;
	font-weight: 100;
}


footer#index_footer .footer_container {
	padding: 40px 0;
}

footer#index_footer #footer_logo {
	padding-bottom: 20px;
}

footer#index_footer .col_title {
	font-size: 14px;
	color: #2F6D81;
}

footer#index_footer .footer_col.links {
	font-weight: 600;
}

footer#index_footer .footer_col.addr {
	padding: 20px 30px 20px 0;
}
 
footer#index_footer p {
	margin: 5px 0;
}

footer#index_footer .copyright {
	color: rgb(143, 143, 143);
	font-size: 12px;
	padding: 20px 0;
}

footer#index_footer ul {
	margin: 6px 0;
}

footer#index_footer ul > li {
	padding: 2px 0;
}

footer#index_footer ul > li > a {
	color: white;
}

/******* Footer end *******/


/**** MEDIA ****/
/**** 1. nav, index, be-host page media ****/
/* small mobile screen */
@media only screen and (min-width: 375px) {

	section#intro .title_txt {
		font-size: 30px;
	}

	section#intro .sub_txt {
		font-size: 16px;
	}

	section#intro .search_txt {
		font-size: 14px;
	}
}

@media only screen and (min-width: 425px) {

	section#intro {
		height: 520px;
		padding: 140px 0 120px;
	}

	section#intro .title_txt {
		font-size: 33px;
	}

	section#intro .sub_txt {
		font-size: 18px;
	}

	section#intro .search_txt {
		font-size: 16px;
	}
}

@media only screen and (min-width: 480px) {
	section#intro {
		height: 560px;
		padding: 160px 0 120px;
	}

	section#intro .title_txt {
		font-size: 38px;
	}
	section#intro .sub_txt {
		font-size: 21px;
	}
	section#intro .search_txt {
		font-size: 18px;
	}
}


@media screen and (max-width: 599px) {
	/* nav start */
	body nav li.nav_txt, body nav li#profile_drop {
		display: none;
	}

	body nav li#drop {
		display: block !important;
	}

	body section#be_host_inquiry {
		padding: 50px 30px;
	}
	/* nav end */
}
@media screen and (min-width: 600px) {
	/* nav start */
	body nav, body nav .nav-wrapper i, body nav a, body nav a.button-collapse, body nav a.button-collapse i {
		height: 100px;
		line-height: 100px;
	}

	body .navbar-fixed {
		height: 100px;
	}

	.nav_logo{
		height: 100px;
		padding: 24px 0 36px;
	}
	/* nav end */

	section#meet_villim {
		padding: 40px 0 15px;
	}

	section#meet_villim .title_txt {
		font-size: 20px;
	}

	section#meet_villim .main_txt {
		font-size: 15px;
	}

	section.villim_intro .main_txt {
		font-size: 15px;
	}


	/* about start */
	section#about_villim .about_container {
		padding: 80px 0;
	}

	section#about_villim .title_txt {
		font-size: 28px;
	}

	section#about_villim .about_item .title_txt {
		font-size: 24px;
	}

	section#about_villim .main_txt {
		font-size: 16px;
	}
	/* about end */

	/* footer start */
	footer#index_footer .links_container {
		display: flex;
		justify-content: space-between;
		padding: 20px 0;
		font-size: 14px;
	}

	footer#index_footer .col_title {
		font-size: 15px;
	}
	/* footer end */
}

@media only screen and (min-width: 768px) {
	section#intro {
		height: 600px;
		padding: 160px 0 160px;
	}

	section#intro .title_txt {
		font-size: 40px;
	}
	section#intro .sub_txt {
		font-size: 22px;
	}
	section#intro .search_txt {
		font-size: 18px;
	}

	section#meet_villim {
		padding: 50px 0 25px;
	}

	section#meet_villim .title_txt {
		font-size: 22px;
	}

	section#meet_villim .main_txt {
		font-size: 16px;
	}

	/* index villim_intro sections start */
	section.villim_intro {
		flex-wrap: nowrap;
		padding-top: 80px;
		padding-bottom: 0;
	}

	section.villim_intro.txt_left_section {
		flex-wrap: nowrap;
	}

	section.villim_intro .single_img {
		width: 235px;
		height: 380px;
	}

	section.villim_intro .double_img {
		width: 380px;
		height: 380px;
	}

	section.villim_intro .laptop_img {
		width: 462px;
		height: 364px;
	}

	section.villim_intro .title_txt {
		font-size: 26px;
	}


/*	body section.villim_intro#register {
		padding: 80px 0;
	}

	body section.villim_intro#register .laptop_img {
		width: 300px;
		height: 180px;
		margin-bottom: 10px;
	}*/
	
	/* index villim_intro sections end */

	/* footer start */
	footer#index_footer .links_container {
		justify-content: space-around;
	}

	footer#index_footer .col_container {
		display: flex;
	}


	footer#index_footer .addr {
		order: -1;
	}

	footer#index_footer .links_container {
		order: 1;
		flex-grow:1;
	}

	footer#index_footer .col_title {
		font-size: 15px;
	}
	/* footer end */
}


@media only screen and (min-width: 1024px) {

	section#intro {
		height: 650px; 
		padding: 180px 0 220px;
	}

	section#intro .title_txt {
		font-size: 42px;
	}
	section#intro .sub_txt {
		font-size: 24px;
	}
	section#intro .search_txt {
		font-size: 20px;
	}

	section#meet_villim {
		padding: 60px 0 40px;
	}

	section#meet_villim .title_txt {
		font-size: 26px;
	}

	section#meet_villim .main_txt {
		font-size: 17px;
	}

	/* index villim_intro sections start */
	section.villim_intro .single_img {
		width: 285px;
		height: 460px;
	}

	section.villim_intro .double_img {
		width: 440px;
		height: 460px;
	}

	section.villim_intro .laptop_img {
		width: 462px;
		height: 364px;
	}

	section.villim_intro .main_txt {
		font-size: 16px;
	}
	/* index villim_intro sections end */

}


@media only screen and (max-width: 480px) {

	/* index start */
	/*body section#intro .title_txt {
		font-size: 30px;
	}
	body section#intro .sub_txt {
		font-size: 10px;
	}*/
/*	html body section#meet_villim .title_txt {
		font-size: 14px;
		font-weight: 900;
	}*/
/*	html body section .main_txt {
		font-size: 10px;
	}

	html body section .title_txt {
		font-size: 16px;
	}
*/
	html body section#be_host_summary .card {
		width: 280px;
	}

	html body section#be_host_summary .title_txt {
		font-size: 16px;
	}

	html body section#be_host_summary .main_txt {
		font-size: 12px;
	}

	html body section#be_host_inquiry .title_txt {
		font-size: 20px;
	}

	html body section#be_host_inquiry .main_txt {
		font-size: 12px;
	}
	/* index end */
}

@media only screen and (max-width: 768px) {
/*	body section#intro .title_txt {
		font-size: 24px;
	}
	body section#intro .sub_txt {
		font-size: 13px;
	}
	body section#meet_villim .title_txt {
		font-size: 16px;
		font-weight: 900;
	}
*/
/*	body section .main_txt {
		font-size: 12px;
	}

	body section .title_txt {
		font-size: 20px;
	}*/

	body section#be_host_summary {
		height: 500px;
	}

	body section#be_host_summary .card {
		width: 320px;
		float: none;
		margin: 0 auto;
	}

	body section#be_host_summary .title_txt {
		font-size: 22px;
	}

	body section#be_host_inquiry .main_txt {
		font-size: 20px;
	}
}
/* tablet is 768px */
@media only screen and (min-width: 768px) {


}

/**** 2. container, house_detail media ****/
@media screen and (max-width: 768px) {
  	body .container.nav_container.search_container {
  		width: 85%;
  		margin: 0 auto;
  	}

  	body #search_wrapper .complex_list_container {
  		width: 100%;
  	}

 	body #search_wrapper .map_container {
  		display: none;
  	}

  	body #search_wrapper .dong_list {
  		margin-right: 0;
  	}
}

@media screen and (max-width: 870px) {
/*	body section#download .image {
		display: none;
	}*/
 /* 	section#house_summary, section#house_description, section#house_policy, section#house_amenities, section#house_refund_policy {
  		width: 100%;
  	}*/
}

@media screen and (min-width:871px) {
	body .container.index_container {
		width: 840px;
	}
  	/*section#house_summary, section#house_description, section#house_policy, section#house_amenities, section#house_refund_policy {*/
  		/*width: 62%;*/
  	/*}*/
}

@media screen and (min-width:993px) {
	body .container.nav_container {
		width: 85%;
		max-width: none;
	}

	body section#house_pics .swiper-container {
		height: 500px;
	}
}

@media screen and (min-width:1030px) {
	body .container.index_container {
		width: 960px;
	}
 /* 	section#house_summary, section#house_description, section#house_policy, section#house_amenities, section#house_refund_policy {
  		width: 66%;
  	}*/
}

@media screen and (max-width:1200px) {
	body .house_container .house_intro_container {
		position: static;
	}

	body .house_container #house_intro {
		position: static;
	}
}


@media screen and (min-width:1201px) {
  	body #search_wrapper .complex_list_container {
  		width: 65%;
  	}

  	body #search_wrapper .map_container {
  		width: 35%;
  	}

  	body #search_wrapper .dong_list {
  		display:flex;

	    flex-flow: row wrap;
  	}

	body #search_wrapper .complex_card {
		flex-basis: 48%;
		margin-right: auto;
	}

	body section#house_pics .swiper-container {
		height: 600px;
	}

	body .house_container {
		display: flex;
	}

	body .house_container .house_intro_container {
		width: 40%;
	}

	body .house_container .rest_container {
		width: 60%;
	}
}




/*section#intro .card {
	text-align: center;
	top: 300px;
}

section#intro .card-text {
	font-size: 34px;
}

section#intro .check_item {
	text-align:left;
	padding: 10px 0;
}

section#intro .check_item img {
	width: 20px;
	height: 15px;
}*/


/* why_villim section */

/*section#why_villim {
	padding-top: 350px;
}	

section#why_villim img {
	width: auto;
	height: 35px;
}

section#why_villim .title_txt {
	color:#D52B1E;
	font-size: 18px;
	margin:0;
	padding: 10px 0;
}

section#why_villim .content_txt {
	font-size: 14px;
	margin:0;
	padding-bottom:20px;
}

section#why_villim .why_villim_item {
	padding: 10px 0;
}
*/

/* how_villim section */

/*section#how_villim {
	padding-top: 100px;
	background-color: rgba(247, 244, 248, 1);
}	

section#how_villim .row {
	margin: 30px 0 !important;
}

section#how_villim .title_number {
	font-size: 18px;
	margin-bottom: 5px;
}

section#how_villim .title_txt {
	font-size: 16px;
	margin: 10px 0 5px;
}

section#how_villim .content_txt {
	font-size: 14px;
	margin: 0;
}

section#how_villim .txt_container {
	width: 250px;
}
 */

/* download page */

/* download section */
section#download {
	padding: 200px 0 260px;
}

 section#download .title_txt {
  	font-size: 34px;
  }

section#download .content_txt {
  	font-size: 28px;
  }	  

section#download p {
	margin: 10px 0;
}


/* be_host page */
.be_host_title_txt {
	font-size: 32px;
}

.be_host_content_txt {
	font-size: 18px;
}



/* OLDDDDDDD BELOWWWWWWWWW */
/*.nav_btn:hover {
	border: #ff5252 1px solid !important;
}
*/
section#search {
	margin: 70px 0;
}

section#be_host {
	width: 100%;
	height: 550px;
	background-image: url("/images/index_room.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

section#be_host .card {
	float: right;
	top: 200px;
	width: 400px;
	margin-right: 30px;
}

section#be_host .card-text {
	font-size: 16px;
	padding-right: 50px;
	margin-bottom: 30px;
}

/* Card css */

/*.card_btn {
	width: 100%;
}
*/

section#benefit {
	height: 600px;
}

section#benefit .container {
	/*text-align: center;*/
	width: 80%;
	/*margin: 40px;*/
}

section#benefit img {
	width: auto;
	height: 60px;
}

section#benefit .benefit_item {
	margin: 0 20px;
}




/*
footer#index_footer ul.social_media_icons {
	margin: 0;
	text-align: right;
}


footer#index_footer .social_media_icons li {
	display: inline;
	padding-left: 10px;
}

footer#index_footer .social_media_icons img {
	width: 22px;
	height: 22px;
}

footer#index_footer .buttons {
	text-align:center;
	padding: 0 20px;
}

footer#index_footer .buttons .dropdown-button.btn {
	margin: 5px 0;
	width: 100%;
	background-color: white;
	color: black;
	padding: 0;
}

footer#index_footer .btn i {
	font-size: 2rem;
}

footer#index_footer .dropdown-content li > a {
	color: rgba(64, 159, 197, 1);
}
*/


/* dashboard css */

.dashboard_row {
	border-top: 2px solid #e0e0e0;
	border-bottom: 2px solid #e0e0e0;
}

		.dashboard_tab_row {
			border-top: 2px solid #e0e0e0;
			border-bottom: 2px solid #e0e0e0;
		}

		.dashboard_tab_row li.tab > a {
			padding: 0;
		}

		.dashboard_content {
			width: 100%;
			height: 500px; 
			padding: 20px 110px;
		}


		.dashboard_content .title_txt {
			font-size: 18px;
		}

		.dashboard_content .main_txt {
			font-size: 14px; 
		}

		.dashboard_content .sub_txt {
			font-size: 12px; 
		}

		.dashboard_content#reservation .card-content {
			padding: 20px 10px;
		}

		.dashboard_content#my_houses .collapsible-header {
			color:#2F6D81;
		} 


		.dashboard_content#my_houses .collapsible-item {
			padding: 3px 0;
		}


/* general input css */
/*body input[type=text] {
  background-color: white;
  border: 1px solid rgb(80, 87, 95);
  border-radius: 1px;
  padding: 0 10px;
  box-sizing: border-box;
}*/

/* override input bottom green line css */
/*input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, input[type=search]:focus.valid, textarea.materialize-textarea.valid, textarea.materialize-textarea:focus.valid {
	border-bottom: 1px solid black !important;
	box-shadow: none !important;
}

input[type=text]:focus {
	border: 1px solid rgb(80, 87, 95) !important;
	box-shadow: none !important;
}*/

body .select-wrapper input.select-dropdown {
	background-color: white;
	padding: 0 10px;
	box-sizing: border-box;
}


/* search_bar */
/*.search_bar {
  padding: 30px 0;
}

.search_bar input {
  height: 40px;
  padding-left: 5px;
  margin: 10px 0;
}

.search_bar input[type=text]:focus:not([readonly]), .search_bar input[type=text][readonly="readonly"] {
  color: black;
  border: 1px solid rgb(80, 87, 95);
  border-radius: 1px;
  box-shadow: none;
}

.search_bar input[type=text] {
  color: black;
  border: 1px solid rgb(80, 87, 95);
  border-radius: 1px;
}

.search_bar .input-field {
  margin: 0;
}

.search_bar button {
  height: 42px;
  margin: 10px 0;
  width: 80%;
  padding: 0 10px;
}


  .search_bar input#checkin_date_picker, .search_bar input#checkout_date_picker {
    background-image: url('/images/icons/icon_calendar_black.png');
    background-position: 95%;
    background-size:18px 16px;
    background-repeat: no-repeat;
  }*/








/* Overwrite materialize tabs css */
.tabs .indicator {
	background-color: black  !important;
	height: 3px !important;
}

.tabs .tab > a {
	color: black !important;
	overflow: visible !important;
	font-size: 16px !important;
}

/* Form css */
.container.form_container {
	margin-top: 100px;
	margin-bottom: 100px;
	width: 50%;
}

.row_form {
	margin: 40px;
}

/*
.caret {
	margin:0 !important;
	top: 20px !important;
}
*/

/* overwrite materialize form css */
.select-wrapper input.select-dropdown {
	color: #9e9e9e !important;
}

/*.input-field input[type=text] {
	color: #9e9e9e !important;
}
*/



/* Error msgs */
select .error {
	border: red solid 1px;
}

.form-error {
	color: red;
}

select .valid {
	border: green solid 1px;
}


/*div .err_msg {
	color: #ff5252;
}
*/


 /* Placeholder css */
  input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: black;
    opacity: 0.5;
  }
  input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: black;
    opacity: 0.5;
  }
  input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: black;
    opacity: 0.5;
  }
  input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
    opacity: 0.5;
  }
  input::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
    opacity: 0.5;
  }